<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header">
</section>

<section class="content">
  <div class="jumbotron welcome-jumbotron">
    <h1>Bem vindo à Empresa XPTO</h1>
    <p>
      xxxxxxxxxxxxx xxxxxxxxxxxx xxxxxxxxxx
    </p>
    <a class="btn btn-primary btn-lg" [routerLink]="['/restaurants']">Informações</a>
  </div>
  <div class="col col-2">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <img src="../../assets/img/manu.jpg" class="img-responsive" alt="Responsive image" />
          <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample1" role="button"
              aria-expanded="false" aria-controls="collapseExample">
              Link with href
            </a>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample1"
              aria-expanded="false" aria-controls="collapseExample">
              Button with data-target
            </button>
          </p>

          <div class="collapse" id="collapseExample1">
            <div class="card card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim
              keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <div class="col col-2">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <img src="../../assets/img/manu.jpg" class="img-responsive" alt="Responsive image" />
            <p>
              <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button"
                aria-expanded="false" aria-controls="collapseExample">
                Link with href
              </a>
              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
                Button with data-target
              </button>
            </p>
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim
                keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
<!-- FIM DO CONTEÚDO -->